sudo: required

language: c

services:
  - docker

matrix:
  include:
    ##- env: IMG=quid2/eta CMD="etlas update;etlas build;etlas test :spec"

    ##- env: IMG=quid2/x64-ubuntu-ghcjs CMD="stack test --stack-yaml stack-ghcjs.yaml"

    ##- env: IMG=quid2/x64-ubuntu-ghcjs-9.21 CMD="stack test --stack-yaml stack-ghcjs-9.21.yaml"

    ##- env: IMG=quid2/x32-ubuntu-cabal CMD="cabal v2-build --only-dependencies --enable-tests;cabal v2-build;cabal v2-test"
    # MANY failures

    # ghc 7.10.3
    # - env: IMG=quid2/x64-ubuntu-stack-lts-6.35 CMD="stack test --resolver lts-6.35"

    # ghc 8.0.2
    # - env: IMG=quid2/x64-ubuntu-stack-lts-9.21 CMD="stack test --resolver lts-9.21"

    # ghc 8.2.2
    - env: IMG=quid2/x64-ubuntu-stack-lts-11.22 CMD="stack test --resolver lts-11.22"
    # ghc 8.4.4
    - env: IMG=quid2/x64-ubuntu-stack-lts-12.26 CMD="stack test --resolver lts-12.26"
  # OCCASIONAL!
  #  test/Spec.hs:240:
  #     expected: "[]"
  #      but got: "Bytes (PreAligned (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit FillerEnd))))))) [])"
  #   Custom Encoding "\v\SYN" [11, 22] Bytes (PreAligned (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit FillerEnd))))))) [11,
  #                                                                                                                22]):                                                                                                                                   FAIL (0.13s)
  #     test/Spec.hs:240:
  #     expected: "[11, 22]"
  #      but got: "Bytes (PreAligned (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit (FillerBit FillerEnd))))))) [11,\n                                                                                                                 22])"
  # ghc 8.6.4
  # - env: IMG=quid2/x64-ubuntu-stack-lts-13.22 CMD="stack test --resolver lts-13.22"
  # ghc 8.8.X

before_install:
  - docker pull $IMG

script:
  - PKG=zm
  - docker run -it $IMG bash -c "git clone https://github.com/Quid2/$PKG;cd $PKG;$CMD"
